
.nav-primary{
	//flex: 5;
}

ul#menu-primary{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;

	li{
		padding: 10px 10px;

		@include grid-media( $phone-landscape ){
			padding: 0 10px;
		}
	}

	a{
		color: $orange;
		text-decoration: none;
		text-align: center;
		font-size: 16px;
		font-weight: 600;
		text-transform: uppercase;

		@include grid-media( $tablet-portrait ){
			font-size: 20px;
		}
	}

	a[href *= 'me'],
	a[href *= 'plugins']{
		color: $blue;
	}

	a[href *= 'mine']{
		color: $purple;
	}

	a[href *= 'blog']{
		color: $dark-orange;
	}
	
}

.nav-secondary{
	ul{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li{
		display: inline;
		margin: 0 4px;
	}
}


.posts-navigation{
	h2.screen-reader-text{
		//opacity: 0;
		border-top: 1px solid $blue;
	}

	.nav-links{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;

		div{
			flex: 0 1 160px;
			position: relative;
		}

		div.nav-previous:before{
			content: '';
			position: absolute;
			left: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 16px 10px 16px 0;
			border-color: transparent $orange transparent transparent;
		}

		div.nav-next:before{
			content: '';
			position: absolute;
			right: -10px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 16px 0 16px 10px;
			border-color: transparent transparent transparent $orange;
		}
	}

	a{
		color: #fff;
		background: $orange;
		padding: 8px 14px;
		display: block;
		text-align: center;
		text-decoration: none;
	}
}