// Colors
$orange:        #f16021;
$blue: 			#1186c8;
$purple:		#7d51a0;
$grey:			#f7f7f7;

$dark-orange:	#48160f;
$cream:			#f3e8e0;
$black:			#202427;







/*
 * Usage
 * @include grid-media($neat-grid){
 *   @include grid-column(6);
 * }
 *
 */


