.footer-form{
	background: $blue;
	padding: 3rem 0;

	h1{
		color: white;
	}

	label{
		color: white;
	}

	input[type="submit"]{
		background: darken($blue, 10);
		color: white;
	}
}

footer.content-info{
	text-align: center;
	padding: 4rem 0 2rem;


	p{
		margin: 0;
	}

	.col-1{
		@include grid-column(4);
		text-align: left;
	}

	.col-2{
		@include grid-column(6);
		@include grid-push(2);
		text-align: left;
	}

	.col-full{
		margin-top: 2rem;
	}

	.widget{
		margin-bottom: 1rem;
	}
	
	h3{
		margin: 0;
	}

	input{
		padding: .25rem;
	}

	ul,
	ol{
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

