.footer-form{
	background: $blue;
	padding: 3rem 0;

	h1{
		color: white;
	}

	label{
		color: white;
	}

	input[type="submit"]{
		background: darken($blue, 10);
		color: white;
	}
}

footer.content-info{
	text-align: center;
	padding: 4rem 0;


	p{
		margin: 0;
	}
}