.body-wrap{
	position: relative;
	overflow-x: hidden;

	&::before{
		content: '';
		position: absolute;
		left: -30px;
		top: -60px;
		width: 130%;
		background: $grey;
		height: 400px;
		z-index: -1;
		transform: rotate(5deg);
	}

	&::after{
		content: '';
		position: absolute;
		left: -30px;
		top: -45px;
		width: 130%;
		background: $orange;
		height: 390px;
		z-index: -2;
		transform: rotate(4.75deg);
	}
}

.body-wrap.nav-open{
	overflow: hidden;
}

 .container{
 	@include grid-container;
 	padding-left: 20px;
 	padding-right: 20px;
 	position: relative;

 }


 .content{
 	@include grid-media( $phone-landscape ){
 		@include grid-column(10);
 		@include grid-push(1);
 	}

 	@media ( min-width:768px){
		@include grid-column(12);
 		@include grid-push(0);
 	}

 	@include grid-media($tablet-landscape){
		@include grid-column(10);
 		@include grid-push(1);
 	}

 	
 }

main.main{
	background: #fff;
	padding: 40px 20px 40px;
	position: relative;

	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;

	.page-header{
		flex: 1 1 300px;
		margin: 0 0 4rem;		
		color: $blue;

		@media (min-width: 768px){
			border-left: 4px solid $blue;
			padding-left: .5rem;
			margin: 0;
		}

		h1{
			margin: 0 0 .67em;
		}

		p{
			margin: 0;
		}
	}

	.col-wrap{
		flex: 2 1 300px;		

		@media (min-width: 768px){
			padding-left: 2rem;
		}
	}
}
