.post-type-archive-projects,
.home{

	article.type-projects{
		position: relative;
		overflow: hidden;
		margin: 0 0 3rem;
		padding-bottom: 20px;
		

		a.image-wrap{
			display: block;
		}		

		h2.entry-title{
			margin: 0;
		}

		h2.entry-title a{
			text-decoration: none;
		}
	}

}


.single-projects{
	
	main.main{
		background: linear-gradient(180deg, rgba(255,255,255,1) 0, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 55%);
		display: block;
	}

	article.type-projects{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-start;
		
		.left{
			flex: 1 1 270px;
			padding-right: 25px;
		}

		.right{
			flex: 1 1 270px;
			padding-top: .67em;
			padding-left: 25px;

			img{
				width: 250px;
				margin: 0 auto;
				display: block;

				@media(min-width:1036px){
					width: 100%;
				}
			}
		}

		ul.check-list{
			padding: 2rem;
			margin: 0 2rem;
			background: white;
		}
	}

	.project-secondary{
		background: $blue;
		color: white;
		position: relative;
		padding-bottom: 100px;

		&:before{
			content: '';
			width: 100%;
			height: 150px; //400
			left: 0;
			top: -150px;
			background: $blue;
			position: absolute;
			z-index: -1;

		}

		h2{
			text-align: center;
			color: white;
		}

		.site-link{
			color: white;
		}
	}

	.project-footer{
		background: $purple;
		color: white;	
		position: relative;	

		&:before{
			content: '';
			width: 100%;
			height: 70px;
			left: 0;
			top: 0;
			background: $blue;
			position: absolute;
			z-index: 0;

			@media(min-width:1036px){
				height: 200px;
			}
		}

		.main{
			display: flex;
			flex-flow: row wrap;
			justify-content: flex-end;
			align-items: flex-start;
			position: relative;
			z-index: 1;
		}

		.secondary-image{
			flex: 0 1 100%;
			padding: 0 30px;

			@media(min-width:1036px){
				flex: 0 1 66%;
			}
		}

		.secondary-image img{
			margin: 0 auto -2px;
			width: 250px;
			display: block;

			@media(min-width:1036px){
				width: 100%;
			}
		}

		.learn-more{
			position: absolute;
			left: 0;
			top: 30%;

			@media(min-width:1036px){
				top: 50%;
			}
		}

		.learn-more span{
			display: block;
			background: white;
			color: $orange;
			padding: 0 20px;
			@extend h2;
		}

		.learn-more a{
			background: $orange;
			color: white;
			display: inline-block;
			text-align: center;
			text-decoration: none;
			padding: 8px 30px;
			font-weight: 600;
		}
	}
}












